body {
  background-image: linear-gradient(to top, #00b6ba, #86fdff);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: bold;
}

#container {
  max-width: 600px;
  min-width: 375px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px #163837;
}

#todos-table {
  width: 100%;
}

#nextTodo {
  width: 95%;
}

#todoDueDate {
  text-align: center;
  font-size: 14px;
}

#addButton {
  float: right;
  background-color: #0c1f1e;
  border-color: #00b6ba;
  color: #00b6ba;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

#hashtagsRow {
  overflow: auto;
}

#hashtagsRow a {
  font-size: 13px;
  font-style: italic;
  padding: 2px;
  margin: 2px;
  color: #00b6ba;
  background-color: #1a403e;
  border-radius: 5px;
  cursor:pointer;
}

th {
  text-align: left;
  padding: 10px;
  font-size: 17px;
}

td {
  word-break: break-all;
  text-align: left;
  padding: 5px;
  font-size: 17px;
}

tr {
  box-shadow: 0px 1px 5px rgb(100, 100, 100);
}

input {
  float: left;
  background-color: #40e0e3;
  font-size: 17px;
  border-width: 0px;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

input.active {
  background-color: #40e0e3;
  border-width: 0px;
}

#todos-body td {
  padding: 10px;
  font-size: 15px;
  cursor: grab;
}

#todos-body td:hover {
  box-shadow: 0px 0px 5px #40e0e3;
}

.topnav {
  overflow: hidden;
  background-color: #1a403e;
}

.topnav a {
  float: left;
  color: #00b6ba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #163837;
  color: #00b6ba;
}

.topnav a.active {
  background-color: #0c1f1e;
  color: #00b6ba;
}

.topnav button {
  float: right;
  background-color: #0c1f1e;
  border-color: #00b6ba;
  color: #00b6ba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button:hover {
  opacity: 0.8;
}

.topnav button:active {
  opacity: 0.5;
}

.dark {
  background-color: #86fdff;
  color: #081537;
}

.light {
  background-color: #00b6ba;
  color: #163837;
}

.date-hashtags {
  display: inline-block;
  font-weight: lighter;
  text-align: center;
  width: 130px;
}

.date {
  font-size: 14px;
  padding: 1px;
}

.hashtags {
  font-size: 13px;
  font-style: italic;
  padding: 1px;
}

.todo-buttons {
  float: right;
  margin: auto;
}

.done-btn {
  background-color: #0BDB69;
  color: #69270F;
  font-weight: bold;
}

.remove-btn {
  background-color: #eb5067;
  color: #081537;
  font-weight: bold;
}
